/* 引入字体 */
@import url('https://cdn.jsdelivr.net/npm/sarasa-gothic-webfont@latest/dist/sarasa-gothic.css');

:root {
	--vp-font-family-base: 'Sarasa Gothic', 'Inter var experimental', 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--vp-font-family-mono: 'Sarasa Mono', ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/**
* 标题颜色
*/
:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}

/**
* Component: Home
* -------------------------------------------------------------------------- */
:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(120deg, #93c5fd 30%, #1e90ff);
	--vp-home-hero-image-background-image: linear-gradient(-45deg, #1e3a8a 50%, #1e90ff 50%);
	--vp-home-hero-image-filter: blur(70px);
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(80px);
	}
}

@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(100px);
	}
}